.App {
  padding-top: 36px;
  text-align: center;
}

.SearchForm-wrapper {
  display: flex;
  justify-content: center;
}

.CharactersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.CharactersList-item{
  margin-bottom: 24px;
  width: 20%;
  min-height: fit-content;
}

@media (max-width:900px){
  .CharactersList-item{
    width: 50%;
  }
}

.cursorPointer{
  cursor: pointer;
}